<div class="div1-background">
  <div class="container">
    <div class="row align-items-center w-100 justify-content-center">
      <div class="col-md-7 text-light">
        <h1  style="color: black;" class="fs-1 fw-bold">DIGITAL E-BANKING</h1>
        <p  style="color: black;" class="lead fs-4">
          Consultez les comptes bancaires de vos clients où que vous soyez!
        </p>
        <ul style="color: black;">
          <li><i  style="color: black;"></i> Paiements sécurisé.</li>
          <li><i style="color: black;"></i> Possibilité d'ajouter de nouveaux clients.</li>
          <li><i style="color: black;"></i> Possibilité de traiter des opérations.</li>
          <li><i style="color: black;"></i> Possibilité de vérifier l'historique.</li>
        </ul>
        <a type="button" routerLink="/customers" class="btn btn-success  btn-lg">Commencez<i class="fa fa-chevron-right"></i></a>
      </div>
      <div class="col-md-5">
        <img src="assets/bank.jpg" style="max-height: 500px;" alt="" max-height
             class="d-inline-block align-text-top">
      </div>
    </div>
  </div>
</div>
